@charset "UTF-8";

:root{
    --cor-01: #0a0908;
    --cor-02: #22333b;
    --cor-03: #eae0d5;
    --cor-04: #c6ac8f;
    --cor-05: #5e503f;
}

*{
    margin: 0px;
    padding: 0px;
}



body{
    background-color: var(--cor-03);
}

header {
    text-align: center;
    background-color: var(--cor-02);
    color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.507);
    
}

header > h1 {
    padding: 10px;
    font-size: 2.5em;
    
}

header > p {
    padding-bottom: 10px;
    font-size: 1.3em;
}

main {
    position: relative;
    height: 85vh;
    width: 100vw;
    background-color: rgba(93, 212, 77, 0.842);
}

section#conteudo {
    background-color: var(--cor-01);
    height: 556px;
    width: 320px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.486);
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -61%);
}

div#anime {
    background-size: cover;
    height: 150px;
    width: 100px;

    background-image: url(../midia/Jujutsu-Kaisen-poster-4K-Vertical-Wallpaper.jpg);

    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate( -50%, -52%);
}